<!-- sticky navbar for all pages -->
<nav class="navbar sticky-top navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="navbar-brand" href="#">
        <img src="https://66.media.tumblr.com/bb6f210033fc2da4a7b15da78bd49c56/tumblr_pw2kezAecg1qmpbemo2_1280.png" width="30" height="30" class="d-inline-block align-top" alt="">
        PyLadies Berlin
      </a>
      <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
      </li>
  </ul>

</nav>
